:root {
  --color-primary: #ffffff;
  --accent-color: #2196f3;
  --dark-backgroung: #2f303a;
  --item-backgroung: #f5f4fa;
  --description-text-color: #757575;
  --title-text-color: #212121;
}
body {
  font-family: Roboto;
  border-color: #e5e5e5;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

/* header  */
.header {
  height: 80px;
  background: var(--color-primary);
}
.nav-item {
  display: inline-block;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  list-style-type: none;
  padding-left: 215px;
  padding-right: 90px;
}
.pre-logo {
  color: var(--accent-color);
}
.main-navigator {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-right: 50px;
}
.main-navigator:hover,
.main-navigator:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* section hero */
.hero {
  background: var(--dark-backgroung);
  height: 600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary);
  padding-top: 200px;
}
.hero-button {
  background: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;
}

/* section features */
.features {
  height: 290px;
  text-align: center;
}
.feature-item {
  display: inline-block;
  width: 250px;
  padding-right: 60px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
}
.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
}
.feature-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* section activity */
.activity-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 40px;
}
.activities-list {
  text-align: center;
}
.activities-item {
  display: inline-block;
  width: 370px;
  padding-right: 30px;
}

/* section team */
.team {
  background-color: var(--item-backgroung);
  height: 648px;
  margin-top: 100px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 40px;
}
.team-list {
  text-align: center;
}
.team-item {
  display: inline-block;
  margin-right: 30px;
  width: 270px;
  height: 368px;
  background-color: var(--color-primary);
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-item-job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* section footer */
.footer {
  font-family: Roboto;
  height: 252px;
  background: var(--dark-backgroung);
  padding-left: 200px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.exact-address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.email,
.telephone {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.exact-address:hover,
.exact-address:focus,
.email:hover,
.email:focus,
.telephone:hover,
.telephone:focus {
  color: var(--accent-color);
}

/* Portfolio page */
/* section projects */
.filter {
  display: inline-block;
}
.filter-button {
  font-family: Roboto;
  background: var(--item-backgroung);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border: 0;
  border-radius: 4px;
  height: 40px;
  padding-right: 10px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--color-primary);
}

/* projects */
.projects {
  text-align: center;
}
.project-item {
  display: inline-block;
  /* padding-right: 30px; */
  padding-bottom: 30px;
  border: 1px double #eeeeee;
}
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
